// 제품 데모

.malgne-container {
  color: var(--malgne-black);

  .jumbotron {
    padding-top: 60px;
    padding-bottom: 60px;
    @include size(100%, auto);
    text-align: left;
    background-color: #ecf6fe;

    @include respond-to("desktop") {
      padding-top: 80px;
      padding-bottom: 120px;
      @include size(100%, auto);
    }

    .inner-box {
      @include size(auto);
      text-align: center;
      font-weight: 400;

      @include respond-to("desktop") {
        margin: auto;
        padding: 0 32px;
        padding-bottom: 32px;

        @include size(1000px, fit-content);
        padding-bottom: 0;
        flex-direction: row;
      }

      .contents {
        text-align: left;
        margin-top: 65px;
        @include respond-to("desktop") {
          flex: 1;
          margin-top: 190px;
          position: relative;
        }
        .desc-box {
          display: flex;
          flex-direction: column-reverse;
          @include respond-to("desktop") {
            display: block;
          }
        }
        .title {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 63px;

          @include respond-to("desktop") {
            display: block;
            margin-bottom: 93px;
          }
          .top-title {
            margin-left: -33px;
            line-height: 1.4;
            font-weight: 700;
            font-size: 27px;
            margin-bottom: 12px;
            @include respond-to("desktop") {
              font-size: 35px;
              margin-left: 60px;
            }
          }

          .img-logo {
            @include size(268px, 40px);
            margin: 0 auto;
            margin-top: -4px;

            @include respond-to("desktop") {
              @include size(auto, 48px);
              margin-top: -8px;
            }
          }
        }

        .sub-title {
          font-size: 16px;
          display: flex;
          flex-direction: column;
          align-items: center;
          @include respond-to("desktop") {
            display: block;
            font-size: 20px;
          }

          .list-item {
            display: flex;
            margin-bottom: 34px;
            @include respond-to("desktop") {
              margin-bottom: 42px;
            }

            &:last-child {
              margin-bottom: 0;
            }

            .text {
              text-align: left;
              margin-left: 10px;
              font-weight: 400;
              line-height: 1.6;
              p {
                font-size: 20px;
                font-weight: 700;
                @include respond-to("desktop") {
                  font-size: 24px;
                }
              }

              span {
                &:nth-child(2) {
                  display: block;
                  span {
                    display: block;
                    @include respond-to("desktop") {
                      display: inline;
                    }
                  }
                }
                @include respond-to("desktop") {
                  display: block;
                }
              }
            }
          }
        }
      }

      .img-phone {
        margin: 0 auto;
        margin-bottom: 56px;
        @include size(187px, auto);

        @include respond-to("desktop") {
          @include size(269px, auto);
          position: absolute;
          right: 0;
          top: -72px;
          margin-bottom: 0;
        }

        img {
          width: 100%;
          @include respond-to("desktop") {
          }
        }
      }
    }
  }

  .subcont {
    .contents {
      .inner-box {
        padding-top: 60px;
        padding-bottom: 60px;
        @include respond-to("desktop") {
          padding-top: 120px;
          padding-bottom: 120px;
        }
      }
      .sub-title {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include respond-to("desktop") {
          display: inline-block;
          font-size: 20px;
        }
        .list-item-inner {
          display: flex;
          flex-direction: column-reverse;

          @include respond-to("desktop") {
            margin-bottom: 98px;
            flex-direction: row;
          }
          &:last-child figure {
            margin-bottom: 0;
          }
        }
        figure {
          margin-bottom: 93px;

          @include respond-to("desktop") {
            margin: 0;
          }
        }
        .list-item {
          margin-top: 37px;
          display: flex;

          margin-bottom: 34px;
          @include respond-to("desktop") {
            margin-left: 72px;
          }

          &:last-child {
            margin-bottom: 0;
          }

          .text {
            text-align: left;
            margin-left: 10px;
            font-weight: 400;
            line-height: 1.6;

            .list-title {
              display: flex;
              align-items: flex-start;
              margin-bottom: 14px;

              @include respond-to("desktop") {
                margin-bottom: 30px;
                width: auto;
              }
              img {
                width: 21px;
                height: 22px;
                @include respond-to("desktop") {
                  width: 35px;
                  height: 36px;
                }
              }
              p {
                margin-left: 10px;
                font-size: 20px;
                line-height: 1.3;
                letter-spacing: 0.1px;
                color: #107ad1;
                @include respond-to("desktop") {
                  font-size: 30px;
                  margin-left: 20px;
                }
              }
            }
            .desc-inner {
              margin-left: 31px;
              width: 262px;
              margin-bottom: 30px;
              @include respond-to("desktop") {
                width: auto;
                margin-left: 0px;
                margin-bottom: 0;
              }
              span {
                font-weight: 400;
                line-height: 1.6;
                font-size: 16px;
                &.dsb {
                  display: block;
                }
                &.dsi {
                  display: inline;
                }
                @include respond-to("desktop") {
                  display: block !important;
                  font-size: 24px;
                }
              }
            }
          }
        }
      }
    }
  }

  .vediocont {
    .contents {
      .inner-box {
        padding-top: 60px;
        padding-bottom: 60px;
        @include respond-to("desktop") {
          padding-top: 120px;
          padding-bottom: 120px;
        }

        .cardWrap {
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          @include respond-to("desktop") {
            width: 900px;
            flex-direction: row;
            justify-content: space-between;
          }
          .card {
            width: 312px;
            margin-bottom: 42px;
            &:last-child {
              margin-bottom: 0;
            }
            @include respond-to("desktop") {
              width: 397px;
              margin-bottom: 0;
            }
            .vid-tit {
              display: flex;
              align-items: flex-start;

              .m-dn {
                display: none;
                @include respond-to("desktop") {
                  display: block;
                }
              }
              img {
                @include respond-to("desktop") {
                  margin-top: 15px;
                  width: 21px;
                  height: 15px;
                  margin-left: 3px;
                }
              }
              .vid-tit-inner {
                line-height: 1.75;
                text-align: left;
                @include respond-to("desktop") {
                  margin-bottom: 46px;
                  margin-left: 25px;
                }

                .tit {
                  font-weight: 700;
                  margin-bottom: 26px;
                  @include respond-to("desktop") {
                    font-size: 30px;
                    margin-bottom: 0;
                  }
                }
                .desc {
                  margin-bottom: 22px;
                  @include respond-to("desktop") {
                    font-size: 24px;
                    margin-bottom: 0;
                  }
                }
              }
            }

            .card-box {
              background: #ffffff;
              box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.13);
              border-radius: 19px;
              padding: 10px 11px;

              @include respond-to("desktop") {
                padding: 13px 14px;
              }
              iframe {
                width: 100%;
                height: 198.28px;
                @include respond-to("desktop") {
                  height: 251.48px;
                }
              }
              figure {
                position: relative;
                margin-bottom: 16px;

                img {
                  width: 100%;
                }
                figcaption {
                  position: absolute;
                  text-align: left;
                  top: 41px;
                  right: 10px;
                  @include respond-to("desktop") {
                    top: 52px;
                    right: 14px;
                  }
                  p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 160%;
                    @include respond-to("desktop") {
                      font-size: 21px;
                    }
                  }
                }
              }

              .blueBtn {
                background: #ecf6fe;
                border-radius: 10px;
                color: #46a3f1;
                font-weight: 700;
                font-size: 18px;
                line-height: 1;
                padding: 10px 0;
                @include respond-to("desktop") {
                  font-size: 24px;
                  padding: 13px 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .app-download-cont {
    .contents {
      .inner-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 60px;
        padding-top: 60px;
        @include respond-to("desktop") {
          font-size: 44px;

          padding-top: 120px;
          padding-bottom: 120px;
        }
      }
      .title {
        font-size: 23px;
        line-height: 1;
        margin-left: 4px;
        margin-bottom: 0;
        @include respond-to("desktop") {
          margin-left: 20px;
          font-size: 44px;
          margin-bottom: 40px;
        }
        span {
          display: inline;
        }
      }
      .col-wrap {
        align-items: center;
      }
      .app-icon {
        width: 85px;
        height: 85px;
        margin-right: 30px;
        @include respond-to("desktop") {
          width: 160px;
          height: 160px;
          margin-right: 20px;
        }

        img {
          margin-top: 5px;
          width: 100px;
          height: 100px;
          @include respond-to("desktop") {
            width: 180px;
            height: 180px;
            margin-top: 0;
          }
        }
      }
      .buttons {
        img {
          width: 16px;
        }
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 128px;
          height: 35px;
          font-size: 12px;
          cursor: pointer;
          @include respond-to("desktop") {
            width: 240px;
            height: 65px;
            font-size: 16px;
          }
        }
      }
    }
  }

  .title {
    span {
      color: var(--malgne-blue);
      display: block;

      @include respond-to("desktop") {
        display: inline-block;
      }
    }

    &.multi {
      span {
        color: var(--malgne-black);

        strong {
          color: var(--malgne-blue);
        }
      }
    }
  }

  .round-img {
    img {
      @include size(140px);
      margin-bottom: 32px;

      @include respond-to("desktop") {
        @include size(160px);
      }
    }

    p {
      font-size: var(--h3-font-size);
      font-weight: 500;
    }
  }

  .check-list {
    max-width: 900px;

    .title {
      margin-bottom: 60px;
    }

    .col {
      + .col {
        margin-top: 60px;

        img {
          width: 100%;
          max-width: 240px;
        }

        @include respond-to("desktop") {
          margin-top: 0;
        }
      }
    }

    ul {
      margin-left: auto;
      margin-right: auto;
      width: fit-content;

      @include respond-to("desktop") {
        margin-top: 50px;
      }

      text-align: left;

      li {
        font-size: var(--h3-font-size);
        padding-left: 32px;
        @include background-img(24px, 0 center);
        background-image: url(../assets/check.svg);

        + li {
          margin-top: 24px;
        }
      }
    }
  }

  .app-count {
    .col {
      border-radius: 4px;
      padding: 16px;
      background-color: #ecf6fe;

      + .col {
        margin-left: 0;
        margin-top: 20px;

        @include respond-to("desktop") {
          margin-left: 20px;
          margin-top: 0;
        }
      }
    }

    .caption {
      color: var(--malgne-black);
      font-weight: 500;
      margin-bottom: 6px;
    }

    .title {
      color: var(--malgne-blue);
      margin-bottom: 0;
      font-weight: 500;

      span {
        display: inline-block;
        font-size: 16px;
        color: var(--malgne-black);
      }
    }
  }

  .app-download {
    .col {
      text-align: center;

      &.app-icon {
        @include respond-to("desktop") {
          text-align: right;
        }
      }

      &.buttons {
        margin-top: 28px;
      }
    }

    button {
      display: block;
      @include size(240px, 64px);
      border-radius: 64px;
      font-size: var(--font-size-base);
      margin-left: auto;
      margin-right: auto;

      @include respond-to("desktop") {
        margin-left: unset;
        margin-right: unset;
      }

      &.playstore {
        color: white;
        border: 1px solid var(--malgne-black);
        background-color: var(--malgne-black);
      }

      &.appstore {
        margin-top: 16px;
        color: var(--malgne-black);
        background-color: white;
        border: 1px solid var(--malgne-black);
      }

      img {
        @include size(24px);
        margin-right: 8px;
      }
    }
  }
}
