// Button

.btn {
  @include size(auto);
  display: inline-block;
  padding: 9px 20px;
  font-size: var(--caption-font-size);
  font-weight: 500;
  position: relative;
  vertical-align: middle;
  text-align: center;
  border-radius: 4px;

  img {
    @include size(24px);
    margin-top: -4px;
    margin-right: 8px;
  }

  &.icon-only {
    padding: 8px;
  }

  &.btn-lg {
    @include size(auto);
    padding: 16px 28px;
    font-size: 20px;
  }

  &.btn-block {
    display: block;
    width: 100%;
  }
}

.btn-primary {
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.btn-default {
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--gray);
}

.btn-subtle {
  color: var(--black);
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0;

  &:hover {
    color: var(--white);
    background-color: var(--gray);
  }
}

.btn-outline {
  color: var(--primary);
  background-color: transparent;
  border: 1px solid var(--primary);
}