// Brand Color System

:root {
  --primary: rgba(25, 170, 74, 1);
  --black: rgba(33, 41, 36, 1);
  --blue: rgba(27, 112, 238, 1);
  --gray: rgba(128, 128, 128, 1);
  --white: rgba(255, 255, 255, 1);
  --violet: rgba(151, 35, 205, 1);
  --yellow: rgba(248, 133, 57, 1);

  --green-tint-3: rgba(31, 218, 121, 1);

  --malgne-blue: rgba(70, 163, 241, 1);
  --malgne-black: rgba(1, 11, 19, 1);
}
