// Brand Font family

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 400;
  src: url("../font/NotoSansKR-Regular.otf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 500;
  src: url("../font/NotoSansKR-Medium.otf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 700;
  src: url("../font/NotoSansKR-Bold.otf");
}

@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 400;
  src: url("../font/SpoqaHanSansNeo-Regular.otf");
}

@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 500;
  src: url("../font/SpoqaHanSansNeo-Medium.otf");
}

@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 700;
  src: url("../font/SpoqaHanSansNeo-Bold.otf");
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url("../font/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: url("../font/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: url("../font/Lato-Italic.ttf");
}

// Brand Typography

:root {
  --h1-font-size: 40px; // 페이지 타이틀
  --h2-font-size: 36px; // 블록 타이틀
  --h3-font-size: 20px; // 리스트 타이틀

  --block-sub-font-size: 24px; // 블록 설명 타이틀, MW 블록 타이틀

  --font-size-base: 16px; // 리스트 설명 타이틀, 액션
  --font-size-small: 12px;

  --caption-font-size: 14px;
}

// Brand Typography Set Up

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: var(--h2-font-size);

  @include respond-to("desktop") {
    font-size: var(--h1-font-size);
  }
}

h2 {
  font-size: var(--h3-font-size);

  @include respond-to("desktop") {
    font-size: var(--h2-font-size);
  }
}

h3 {
  font-size: var(--h3-font-size);
}
