// Truncate

// Single line truncate
@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Multi line truncate
@mixin multi-truncate($line-clamp) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $line-clamp; // 생략할 줄 수
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
}